html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: $dark;
    background-color: $silver2;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;
    color: $darkblue;

    @include mq('tablet-2') {
        font-size: 32px;
    }

    @include mq('tablet') {
        margin-bottom: 30px;
        font-size: 27px;
    }

    @include mq('phone') {
        font-size: 24px;
    }
}

.section {
    padding-bottom: 120px;

    @include mq('tablet-2') {
        padding-bottom: 60px;
    }

    @include mq('tablet') {
        padding-bottom: 40px;
    }
}

.btn {
    padding: 12px 32px;
    font-size: 18px;
    line-height: 1.2;
    border-radius: 5px;
    color: $white;
    background-color: $orange;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

    &:focus {
        background-color: rgba(255, 122, 80, 0.1);
        color: $orange;
        box-shadow: 0 0 0 2px $orange;
    }

    &:hover {
        background-color: transparent;
        box-shadow: 0 0 0 2px $orange;
        color: $orange;
    }

    &:active {
        background-color: rgba(255, 122, 80, 0.1);
        box-shadow: none;
    }
    
}

.animation-btn {
    transition: box-shadow 0.3s, color 0.4s, text-shadow 0.3s, background-color 0.3s;
    color: $darkblue;
    border-radius: 5px;
    
    &:focus {
        box-shadow: 0 0 0 2px $orange;
    }

    &:hover {
        color: $orange;
    }

    &:active {
        color: $darkblue;
        text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
        box-shadow: none;
    }
} 

.lock { 
    overflow: hidden;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(0,0,0, 0.5);
    }
}


