$dark: #31352B;
$darkblue: #363853;
$orange: #FF6838;
$gray: #c2c2c2;
$silver1: #ececec;
$silver2: #f9faff;
$white: #fff;

%bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}