@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixin';
@import 'libs'; 
@import 'global';

.logo {
    display: inline-block;
    border-radius: 5px;
    transition: box-shadow 0.3s, opacity 0.3s;

    &:focus {
        box-shadow: 0 0 0 2px $orange;
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
        box-shadow: none;
    }
}

.header__menu {
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.menu-nav {
    display: flex;
    margin-left: auto;

    &--margin {
        margin-right: 53px;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 45px;
        }
    }

    &__link {
        font-size: 18px;
        line-height: 1.1;
        border-radius: 5px;
        transition: box-shadow 0.3s, text-shadow 0.3s, color 0.3s;

        &--active {
            color: $orange;
        }

        &:focus {
            color: $dark;
            background-color: $silver2;
        }

        &:hover {
            color: $orange;
            box-shadow: none;
        }

        &:active {
            color: $dark;
            text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
        }
    }
}

.user-nav {
    display: flex;

    &__item {
        position: relative;
        height: 44px;
        width: 44px;
        border-radius: 5px;
        transition: background-color 0.3s, box-shadow 0.3s, filter 0.3s;

        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover {
            background-color: $orange;
        }

        &:hover {
            &::before {
                filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(17deg) brightness(105%) contrast(110%);
            }
        }

        &:hover .user-nav__num {
            background-color: $white;
            color: $orange;
        }

        &:active {
            background-color: rgba(255, 122, 80, 0.1);
        }

        &:active {
            &::before {
                filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(271deg) brightness(104%) contrast(105%);
            }
        }

        &:active .user-nav__num {
            background-color: $orange;
            color: $white;
        }
    }

    &__button {
        position: absolute;
        width: 44px;
        height: 44px;
        border-radius: 5px;
        transition: box-shadow 0.3s;
    }

    &__item--search::before {
        @include pseudo;
        width: 22px;
        height: 22px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/sprite.svg#icon-search');
        @extend %bg;
    }

    &__item--cart::before {
        @include pseudo;
        width: 22px;
        height: 22px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/sprite.svg#icon-cart');
        @extend %bg;
    }

    &__num {
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $orange;
        top: 6px;
        right: 5px;
        font-size: 10px;
        color: $white;
        transition: background-color 0.3s, color 0.3s;
    }
}

.hero {

    &__content {
        padding: 156px 0 170px;
        background-repeat: no-repeat;
        background-size: 560px 660px;
        background-position: right;
    }

    &__title {
        max-width: 38%;
        margin-bottom: 20px;
        font-weight: 500;
        color: $darkblue;
        text-transform: uppercase;
        line-height: 1.3;
        font-size: 66px;
    }

    &__subtitle {
        color: $orange;
    }

    &__text {
        p {
            max-width: 40%;
            margin-bottom: 20px;
            @include line-clamp (3);
        }
    }

    &__button {
        margin-right: 35px;

        &:focus {
            color: $orange;
        }

        &:hover {
            box-shadow: 0 5px 12px rgba(255, 104, 56, 0.2), 0 0 0 2px $orange;
            color: $orange;
        }

        &:active {
            box-shadow: none;
        }
    }

    &__link {
        border-radius: 5px;
        text-decoration: underline;
        color: $darkblue;
        transition: box-shadow 0.3s, color 0.4s, text-shadow 0.3s;
    }
}

.hero__link,
.pop-categories__link{
    &:focus {
        box-shadow: 0 0 0 2px $orange;
        text-decoration: none;
    }

    &:hover {
        color: $orange;
        text-decoration: none;
    }

    &:active {
        color: $darkblue;
        text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
        box-shadow: none;
    }
}

.pop-categories {
    text-align: center;

    &__title {
        margin-bottom: 60px;
    }

    &__filter {
        display: flex;
        margin-bottom: 45px;
    }

    &__button {
        position: relative;
        line-height: 1.3;
        color: $darkblue;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 0 0 1px #ECECEC;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__btn {
        padding: 22px 32px 22px 86px;
        border-radius: 5px;
        transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;

        &::before {
            @include pseudo;
            left: 0;
            top: 50%;
            transform: translate(70%, -50%);
            width: 44px;
            height: 44px;
            @extend %bg;
        }

        &--burger::before {
            background-image: url('../images/sprite.svg#icon-burger');
        }

        &--pizza::before {
            background-image: url('../images/sprite.svg#icon-pizza');
        }

        &--sandwich::before {
            background-image: url('../images/sprite.svg#icon-sandwich');
        }

        &--asia::before {
            background-image: url('../images/sprite.svg#icon-asia');
        }

        &--set::before {
            background-image: url('../images/sprite.svg#icon-set');
        }

        &:focus {
            color: $darkblue;
            background-color: $silver2;
        }

        &:hover {
            box-shadow: 0 0 0 2px $orange;
        }

        &:hover {
            &::before {
                filter: invert(49%) sepia(91%) saturate(1783%) hue-rotate(336deg) brightness(101%) contrast(103%);
            }
        }
        
        &:active {
            background-color: $white;
            box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
            color: $darkblue;
        }

        &:active {
            &::before {
                filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(121deg) brightness(97%) contrast(103%);
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 2vw 2vw;
        margin-bottom: 60px;
    }

    &__link {
        color: $darkblue;
        text-decoration: underline;
        border-radius: 5px;
        transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, text-shadow 0.3s;

        &:hover {
            box-shadow: none;
        }
    }

    .mixitup-control-active {
        background-color: $orange;
        border-radius: 5px;
        color: $white;
    }

    .mixitup-control-active.pop-categories__btn::before {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg) brightness(102%) contrast(104%);
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 210px;
    height: 100%;
    width: 100%;
    padding: 20px 5px;
    background-color: $white;
    box-shadow: 0 0 0 1px #ECECEC;
    border-radius: 5px;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 0 0 1px $orange;
    }

    &__image {
        margin-bottom: 10px;
    }

    &__subtitle {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.2;
        @include line-clamp (2);
    }

    &__price {
        margin-top: auto;
        margin-bottom: 10px;
        font-weight: 400;
        line-height: 1.4;
        font-size: 15px;
        $darkblue: #363853;
    }

    &__button {
        padding: 7px 16px;
        font-size: 14px;
    }


}

.delivery {

    &__container {
        max-width: 1030px;
        margin: 0 auto;
    }

    &__wrapper {
        background-size: 440px 485px;
        background-repeat: no-repeat;
        background-position: left;
    }

    &__content {
        padding: 16px 0;
        max-width: 470px;
        margin-left: auto;
   }

   &__span {
        display: block;
   }

   &__text {
    @include line-clamp (3);
   }

   &__title,
   &__text,
   &__items {
        margin-bottom: 30px;
   }

   &__item:not(:last-child) {
    margin-bottom: 20px;
   }

   &__info {
        position: relative;
        font-weight: 400;
        font-size: 24px;
        padding-left: 64px;
        &::before {
           @include pseudo;
            top: 0;
            left: 0;
            width: 34px;
            height: 34px;
        }
        &--timer::before {
            background-image: url('../images/sprite.svg#icon-timer');
        }
        &--delivery::before {
            background-image: url('../images/sprite.svg#icon-delivery');
        }
        &--resturent::before {
            background-image: url('../images/sprite.svg#icon-resturent');
        }
   }


}

.restaurant {
    
    &__title {
        margin-bottom: 45px;
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    &__item {
        background-color: $white;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    &-card {
        &__image {
            margin-bottom: 15px;
            width: 370px;
            height: 300px;
            @extend %bg;
        }
        
        &__name {
            font-weight: 400;
            font-style: 24px;
            line-height: 1.3;
            margin: 15px 0 20px 20px;
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__time {
            position: relative;
            display: inline-block;
            margin: 0 100px 23px 20px;
            padding-left: 31px;
            font-weight: 300;
            font-size: 18px;
            line-height: 1.6;

            &::before {
                @include pseudo;
                width: 22px;
                height: 22px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-image: url('../images/sprite.svg#icon-clocks');
            }
        }

        &__btn {
            position: relative;
            width: 79px;
            height: 33px;
            border-radius: 20px;
            background-color: $orange;
            transform: translateY(-20%);
            transition: background-color 0.3s, box-shadow 0.3s;
            &::before {
                @include pseudo;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 15px;
                height: 14px;
                background-image: url('../images/sprite.svg#icon-restaurant-arrow');
                @extend %bg;
            }

            &:focus {
                background-color: #FFF2ED;
                box-shadow: 0 0 0 2px $orange;
            }

            &:focus {
                &::before {
                    filter: invert(57%) sepia(76%) saturate(3434%) hue-rotate(337deg) brightness(102%) contrast(103%);
                }
            }

            &:hover {
                background-color: $white;
                box-shadow: 0 0 0 2px $orange;
            }

            &:hover {
                &::before {
                    filter: invert(57%) sepia(76%) saturate(3434%) hue-rotate(337deg) brightness(102%) contrast(103%);
                    transform: translate(50%, -50%);
                }
            }

            &:active {
                background-color: #FFF2ED;
                box-shadow: none;
                &::before {
                    transform: translate(-50%, -50%);
                }   
            }
        }
    }
}

.reviews {
    &__container {
        max-width: 990px;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 45px;
        text-align: center;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;
        padding-bottom: 50px;
    }

    &__image {
        border-radius: 50%;
    }

    &__blockquote {
        position: relative;
        max-width: 570px;
        font-style: italic;

        &::before,
        &::after {
            @include pseudo;
            width: 24px;
            height: 20px;
            background-image: url('../images/sprite.svg#icon-quotes');
            @extend %bg;
        }

        &::before {
            top: 0;
            left: 0;
            transform: translateX(-150%);
        }

        &::after {
            bottom: 50%;
            right: 0;
            transform: rotate(180deg) translate(-150%, -150%) scale(1, -1);
        }
    }

    &__author {
        display: block;
        padding-top: 30px;
        font-weight: 500;
        font-style: normal;
        line-height: 1.3;
        color: $orange;
    }

    &__span {
        display: block;
        padding-top: 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        color: $dark;
    }

    .slick {
        &-dots {
           position: relative;
           display: flex;
           justify-content: center;
           
           li {
               width: 15px;
               height: 15px;
               border-radius: 50%;
               font-size: 0;
               background-color: $gray;
               transition: background-color 0.3s, box-shadow 0.3s;
               
               &:not(:last-child) {
                   margin-right: 15px;
                }
                
                &.slick-active {
                    background-color: $orange;
                }   

                &:focus {
                    background-color: $gray;
                    box-shadow: 0px 0px 0px 2px #FF6838;  
                }
                
                &:hover {
                    background-color: #FFF2ED;
                    box-shadow: 0 0 0 2px $orange;
                }

                &:active {
                    background-color: #FFAE94;
                    box-shadow: none;
                }
            }
        }

        &-arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 37px;
            height: 37px;
            border: 3px solid $gray;
            border-radius: 50%;
            z-index: 1;
        }

        &-prev,
        &-next {
            position: absolute;
            bottom: -10px;
            transition: box-shadow 0.3s, background-color 0.3s;

            &.slick-disabled {
                border-color: $orange;
                & svg {
                    filter: brightness(0) saturate(100%) invert(57%) sepia(60%) saturate(1303%) hue-rotate(326deg) brightness(101%) contrast(103%);
                }
            }

            & svg {
                width:11x;
                height: 19px;
            }

            &:focus {
                box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
            }
            
            &:hover {
                border: 3px solid #FFAE94;
                background-color: #FFF2ED;
            }

            &:hover svg {
                filter: brightness(0) saturate(100%) invert(93%) sepia(73%) saturate(3791%) hue-rotate(296deg) brightness(99%) contrast(104%);
            }

            &:active {
                background-color: #FFF2ED;
                border: none;
                box-shadow: none;
            }

            &:active svg {
                filter: brightness(0) saturate(100%) invert(57%) sepia(60%) saturate(1303%) hue-rotate(326deg) brightness(101%) contrast(103%);
            }
        }

        &-prev {
            left: 40%;
            transform: translateX(-50%);
        }

        &-next {
            right: 40%;
            transform: translateX(50%) scale(-1);
        }
    }
}

.app {
    &__wrapper {
        background-size: 570px 380px;
        background-position: right;
        background-repeat: no-repeat;
    }

    &__content {
        max-width: 538px;
        padding: 40px 0;
    }

    &__title {
        margin-bottom: 45px;
    }

    &__text {
        & p {
            @include line-clamp (6);
            margin-bottom: 30px;
        }
    }

    &__image {
        display: inline-block;
        margin-right: 30px;
    }
}

.footer {
    &__top {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding-bottom: 66px;
    }

    &__subscribe {
        margin-right: 70px;
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__menu {
        &-list {
            column-count: 3;
        }
        
        &-item {
            font-size: 18px;
            line-height: 1.3;
            margin-bottom: 20px;
        }

        &-link {
            border-radius: 5px;
            transition: border-radius 0.3s, color 0.3s, box-shadow 0.3s;
            @include line-clamp (1);
    
            &:focus {
                color: $dark;
                background-color: $silver2;
            }
    
            &:hover {
                box-shadow: none;
            }
    
            &:active {
                color: $dark;
                text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
            }
        }
    }
    
    &__bottom {
        padding: 30px 0;
        text-align: center;
    }

    &__copyright {
        font-size: 14px;
        line-height: 1;
    }

    &__contacts {
        margin-left: 30px;
    }

    &__btn {
        position: relative;
        max-width: 200px;
        width: 100%;
        padding: 13px 39px 13px 70px;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 500;

        &:focus::before {
            filter: invert(51%) sepia(36%) saturate(3299%) hue-rotate(337deg) brightness(102%) contrast(101%);
        }
    
        &:hover {
            background-color: $white;
        }
    
        &:hover::before {
            filter: invert(51%) sepia(36%) saturate(3299%) hue-rotate(337deg) brightness(102%) contrast(101%);
        }
    
        &:active {
            background-color: rgba(255, 122, 80, 0.1);
        }
    
        &::before {
            @include pseudo;
            top: 50%;
            left: 50px;
            transform: translate(-50%, -50%);
            width: 16px;
            height: 16px;
            background-image: url('../images/sprite.svg#icon-telegram');
            @extend %bg;
        }
    }
}

.form-subscribe {
    &__input {
        max-width: 200px;
        width: 100%;
        padding: 13px 15px;
        margin-bottom: 12px;
        border: 1px solid $gray;
        border-radius: 5px;
        line-height: 1.3;
        font-size: 14px;
        transition: border 0.3s, color 0.3s, opacity 0.3s;
    
        &::placeholder {
            color: $gray;
            transition: color 0.3s, opacity 0.5s;
        }
    
        &:focus {
            border-radius: 5px;
            background-color: $silver2;
        }
    
        &:hover {
            box-shadow: none;
        }
    
        &:hover::placeholder {
            color: $darkblue;
            opacity: 0.9;
        }
    }
}

.contacts {
    &__item {
        position: relative;
        margin-bottom: 15px;
        padding-left: 31px;
        font-style: normal;
        font-size: 16px;
        line-height: 2;
        transition: border-radius 0.3s, color 0.3s, box-shadow 0.3s;
    }
    
    &__link {
        border-radius: 5px;
        &::before {
            @include pseudo;
            width: 24px;
            height: 24px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            @extend %bg;
        }
        
        &--address::before {
            background-image: url('../images/sprite.svg#icon-location');
        }
        
        &--number::before {
            background-image: url('../images/sprite.svg#icon-call');
        }
        
        &--email::before {
            background-image: url('../images/sprite.svg#icon-message');
        }
    
        &:focus {
            color: $dark;
            background-color: $silver2;
        }
    
        &:hover {
            color: $orange;
            box-shadow: none;
        }
    
        &:active {
            color: $dark;
            text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
        }
    }
}

.socials {
    display: flex;

    &__item {
        &:not(:last-child) {
            margin-right: 13px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $silver1;
        transition: background-color 0.3s, box-shadow 0.3s;

        &:not(:last-child) {
            margin-right: 13px;
        }

        &:hover {
            background-color: $orange;
            box-shadow: none;
        }
    
        &:hover {
            svg use {
                filter: invert(99%) sepia(33%) saturate(0%) hue-rotate(286deg) brightness(109%) contrast(101%);
            }
        }

        &:active {
            background-color: #FFF2ED;
        }
    
        &:active {
            svg use {
                filter: invert(59%) sepia(17%) saturate(6104%) hue-rotate(329deg) brightness(111%) contrast(108%);
            }
        }
    }

    &__image {
        &--facebook {
            width: 10px;
            height: 21px;
        }
        &--twitter {
            width: 21px;
            height: 17px;
        }
        &--instagram {
            width: 20px;
            height: 20px;
        }
    }
}