@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'states';

.logo {
    display: inline-block;
    border: transparent;
    border-radius: 5px;
    transition: box-shadow 0.3s, opacity 0.3s;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;

    &__inner,
    &__nav {
        display: flex;
    }

    &__inner {
        align-items: center;
    }
    &__item:not(:last-child) {
        margin-right: 45px;
    }
    &__item:last-child {
        margin-right: 53px;
    }
    &__link {
        font-size: 18px;
        line-height: 1.1;
        border: transparent;
        border-radius: 5px;
        transition: box-shadow 0.3s, text-shadow 0.3s, color 0.3s;
    }
    &__link--active {
        color: $orange;
    }
}


.user-nav {
    display: flex;

    &__item {
        position: relative;
    }
    
    &__item:not(:last-child) {
        margin-right: 20px;
    }

    &__button {
        padding: 10px;
        border: transparent;
        border-radius: 5px;
        transition: background-color 0.3s, box-shadow 0.3s, filter 0.3s;
    }
    
    &__image {
        width: 20px;
        height: 20px;
        @extend %bg;
    } 
    
    &__num {
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $orange;
        top: 5px;
        right: 4px;
        font-size: 10px;
        color: $white;
        transition: background-color 0.3s, color 0.3s;
    }
}

.header {
    &__content {
        padding: 156px 0 170px;
        background-repeat: no-repeat;
        background-size: 48%;
        background-position: right -4%;
    }

    &__title {
        @extend %rubik-500;
        color: $darkblue;
        text-transform: uppercase;
        line-height: 1.3;
        max-width: 38%;
        font-size: 66px;
        margin-bottom: 20px;
    }

    &__subtitle {
        color: $orange;
    }

    &__text p {
        max-width: 40%;
        margin-bottom: 20px;
    }

    &__button {
        padding: 12px 32px;
        margin-right: 35px;
        font-size: 18px;
        line-height: 1.2;
        border-radius: 6px;
        color: $white;
        background-color: $orange;
        transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    }

    &__link {
        border-radius: 5px;
        border: none;
        text-decoration: underline;
        color: $darkblue;
        transition: box-shadow 0.3s, color 0.4s, text-shadow 0.3s;
    }

}

.categories {
    text-align: center;
    &__title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__filter {
        display: flex;
        margin-bottom: 45px;
        max-width: 1170px;
    }

    &__button {
        position: relative;
        line-height: 1.3;
        color: $darkblue;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 0 0 1px #ECECEC;

    }
    
    &__button:not(:last-child) {
        margin-right: 20px;
    }

    &__btn {
        padding: 22px 32px 22px 86px;
        border-radius: 5px;
        border: transparent;
        transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
    }

    &__btn::before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translate(-50%, -50%);
        width: 44px;
        height: 44px;
    }

    &__btn--burger::before {
        left: 25%;
        background-image: url('../images/sprite.svg#icon-burger');
        @extend %bg;
    }

    &__btn--pizza::before {
        left: 30%;
        background-image: url('../images/sprite.svg#icon-pizza');
        @extend %bg;
    }

    &__btn--sandwich::before {
        left: 25%;
        background-image: url('../images/sprite.svg#icon-sandwich');
        @extend %bg;
    }

    &__btn--asia::before {
        left: 20%;
        background-image: url('../images/sprite.svg#icon-asia');
        @extend %bg;
    }
    &__btn--set::before {
        left: 30%;
        background-image: url('../images/sprite.svg#icon-set');
        @extend %bg;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 2vw 2vw;
        margin-bottom: 60px;
    }

    &__link {
        color: $darkblue;
        text-decoration: underline;
        border: transparent;
        border-radius: 5px;
        transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, text-shadow 0.3s;
    }

}

.card-item  {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 210px;
    width: 100%;
    padding: 165px 10px 20px;
    background-color: $white;
    box-shadow: 0px 0px 0px 1px #ECECEC;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.card-item::before {
    position: absolute;
    content: "";
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    @extend %bg;
}

.card-item--1::before {
    background-image: url('../images/item-image/1.png');
}
.card-item--2::before {
    background-image: url('../images/item-image/2.png');
}
.card-item--3::before {
    background-image: url('../images/item-image/3.png');
}
.card-item--4::before {
    background-image: url('../images/item-image/4.png');
}
.card-item--5::before {
    background-image: url('../images/item-image/5.png');
}
.card-item--6::before {
    background-image: url('../images/item-image/6.png');
}
.card-item--7::before {
    background-image: url('../images/item-image/7.png');
}
.card-item--8::before {
    background-image: url('../images/item-image/8.png');
}
.card-item--9::before {
    background-image: url('../images/item-image/9.png');
}
.card-item--10::before {
    background-image: url('../images/item-image/10.png');
}

.card-item__info {
    font-size: 15px;
    line-height: 1.2;
    @extend %rubik-400;
    margin-bottom: 10px;
}

.card-item__price {
    @extend %rubik-500;
    margin-top: auto; 
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 15px;
    $darkblue: #363853;
}

.card-item__link {
    max-width: 101px;
    width: 100%;
    padding: 7px 16px;
    font-size: 14px;
    color: $white;
    background-color: $orange; 
    border-radius: 6px;
}

.footer {
    &__top {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding-bottom: 66px;
    }

    &__subscribe {
        margin-right: 70px;
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__menu-list {
        min-width: 600px;
        column-count: 3;
    }

    &__menu-item {
        font-size: 18px;
        line-height: 1.3;
    }

    &__menu-item {
        margin-bottom: 20px;
    }

    &__bottom {
        padding: 30px 0;
        text-align: center;
    }

    &__bottom-title {
        font-size: 14px;
        line-height: 1;
    }
}

.form__input {
    max-width: 200px;
    width: 100%;
    padding: 13px 15px;
    margin-bottom: 12px;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    line-height: 1.3;
    font-size: 14px;
    transition: border 0.3s, color 0.3s, opacity 0.3s;

    &::placeholder {
        color: $gray;
    }
}

.btn {
    position: relative;
    max-width: 200px;
    width: 100%;
    padding: 13px 39px 13px 70px;
    background-color: $orange;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.3;
    color: $white;
    @extend %rubik-500;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/icon-telegram.svg');
    @extend %bg;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    &__address,
    &__number,
    &__email {
        position: relative;
        margin-bottom: 15px;
        padding-left: 31px;
        font-style: normal;
        font-size: 16px;
        line-height: 2;
    }

    &__address::before,
    &__number::before,
    &__email::before {
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @extend %bg;
    }
    
    &__address::before {
        background-image: url('../images/icons/icon-location.svg');
    }

    &__number::before {
        background-image: url('../images/icons/icon-call.svg');
    }

    &__email::before {
        background-image: url('../images/icons/icon-message.svg');
    }
}

.contacts-socials {
    display: flex;
    &__item {
        position: relative;
        width: 39px;
        height: 39px;
        background-color: $silver1;
        border-radius: 50%;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    &__item:not(:last-child) {
        margin-right: 13px;
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}



@import 'media';