.hero {

    &__content {
        position: relative;
        padding: 156px 0 170px;
        background-repeat: no-repeat;
        background-size: 560px 660px;
        background-position: right;
        z-index: 1;

        @include mq('tablet-2') {
            padding: 120px 0 140px;
            background-size: 450px 550px;
        }
        
        @include mq('tablet') {
            padding: 60px 0 80px;
            background-size: 350px 430px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(249, 250, 255, 0.85);
                z-index: -1;
            }
        }

        @include mq('phone') {
            padding: 35px 0 30px;
            background-size: 255px 300px;
        }
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 500;
        line-height: 1.3;
        font-size: 66px;
        color: $darkblue;
        text-transform: uppercase;
        @include line-clamp (3);

        @include mq('tablet-2') {
            font-size: 50px;
        }

        @include mq('phone') {
            font-size: 40px;
        }
    }

    &__subtitle {
        display: block;
        color: $orange;
    }

    &__text {
        p {
            max-width: 40%;
            margin-bottom: 20px;
            @include line-clamp (4);

            @include mq('tablet-2') {
                max-width: 50%;
            }

            @include mq('tablet') {
                max-width: 60%;
            }
    
            @include mq('phone') {
                max-width: 100%;
                font-size: 16px;
            }
        }

    }

    &__button {
        margin-right: 35px;

        @include mq('phone') {
            font-size: 14px;
            padding: 8px 24px;
        }
    }

    &__link {
        text-decoration: underline;
        
        &:focus {
            text-decoration: none;
        }
    
        &:hover {
            text-decoration: none;
        }

        @include mq('phone') {
            font-size: 16px;
        }
    }
}