.discount {

    &__section {
        padding-bottom: 20px;
    }

    &__title {
        margin-bottom: 60px;

        @include mq('phone') {
            text-align: center;
            margin-bottom: 40px;
        }
    }
    
    &__list {
        display: flex;

        @include mq('tablet-2') {
            overflow-x: auto;
        }

        @include mq('phone') {
            flex-direction: column;
        }
    }
    
    &__item {
        padding-bottom: 20px;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .restaurant-card {

        max-width: 370px;

        @include mq('tablet-2') {
            min-width: 370px;
        }

        @include mq('phone') {
            min-width: auto;
            max-width: 370px;
        }
    }

    &__item {
        width: 100%;
    }
    
    &__fix {
        max-width: 100%;
    }

    .slick-dots {
        position: relative;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        
        li {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            font-size: 0;
            background-color: $gray;
            transition: background-color 0.3s, box-shadow 0.3s;
            
            &:not(:last-child) {
                margin-right: 15px;
            }
             
            &.slick-active {
                background-color: $orange;
            }   
            &:focus {
                background-color: $gray;
                box-shadow: 0 0 0 2px #FF6838;  
            }
             
            &:hover {
                background-color: #FFF2ED;
                box-shadow: 0 0 0 2px $orange;
            }
            &:active {
                background-color: #FFAE94;
                box-shadow: none;
            }
        }
    }

    .slick-slide {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}





