<section class="delivery section">
    <div class="delivery__container">
        <div class="delivery__wrapper" style="background-image: url('images/delivery-bg.svg');"> 
            <div class="delivery__content">
                <h2 class="title delivery__title">Оставайтесь дома, <br> а мы позаботимся о еде</h2>
                <div class="delivery__text">
                    <p>
                        У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и получите скидку!
                    </p>
                </div>
                <ul class="delivery__items">
                    <li class="delivery__item delivery__item--timer">
                        <p>
                            Быстрая доставка за 15 минут
                        </p>
                    </li>
                    <li class="delivery__item delivery__item--delivery">
                        <p>
                            Вежливые курьеры
                        </p>
                    </li>
                    <li class="delivery__item delivery__item--resturent">
                        <p>
                            Более 500 заведений
                        </p>
                    </li>
                </ul>
                <a class="delivery__link btn" href="#">Подробнее</a>
            </div>
        </div>
    </div>
</section>
