<footer class="footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer__subscribe">
            <a class="logo footer__logo" href="#">
                <img class="logo__image footer__logo-image" src="images/logo.svg" width="200" height="39" alt="Логотип">
            </a>
            <form class="form-subscribe" name="form-footer">
                    <label class="sr-only" for="name">Введите ваш email</label>
                    <input class="form-subscribe__input" type="email" name="name" id="name" placeholder="Ваш email" required="required">
                <button class="footer__btn btn" type="submit">Подписаться</button>
            </form>
        </div>
        <ul class="footer__menu-list">
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">Как это работает</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">Продукты</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">Блюда</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">Меню</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">О нас</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">Новости</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">Партнеры</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">ЧаВо</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">Скачать приложение</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">Блог</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">Что нового?</a>
            </li>
            <li class="footer__menu-item">
                <a class="footer__menu-link animation-btn" href="#">Карта сайта</a>
            </li>
        </ul>
        <address class="footer__contacts">
            <ul class="contacts">
                <li class="contacts__item">
                    <a class="contacts__link contacts__link--address animation-btn" href="">
                        ул. Т.Г.Шевченко, 1
                    </a>
                </li>
                <li class="contacts__item">
                    <a class="contacts__link contacts__link--number animation-btn" href="tel:+380501112233">
                        380501112233
                    </a>
                </li>
                <li class="contacts__item">
                    <a class="contacts__link contacts__link--email animation-btn" href="mailto:support@sfood.com">
                        support@sfood.com
                    </a>
                </li>
            </ul>
            <ul class="social-contacts">
                <li class="social-contacts__item">
                    <a class="social-contacts__link" href="#" target="_blank">
                        <svg class="social-contacts__image social-contacts__image--facebook">
                            <use xlink:href="images/sprite.svg#icon-facebook"></use>
                        </svg>   
                        <span class="sr-only">Написать нам в Фейсбук</span>
                    </a>
                </li>
                <li class="social-contacts__item">
                    <a class="social-contacts__link" href="#" target="_blank">
                        <svg class="social-contacts__image social-contacts__image--twitter">
                            <use xlink:href="images/sprite.svg#icon-twitter"></use>
                        </svg>
                        <span class="sr-only">Написать нам в Твиттер</span>
                    </a>
                </li>
                <li class="social-contacts__item">
                    <a class="social-contacts__link" href="#" target="_blank">
                        <svg class="social-contacts__image social-contacts__image--instagram">
                            <use xlink:href="images/sprite.svg#icon-instagram"></use>
                        </svg>
                        <span class="sr-only">Написать нам в Инстаграм</span>
                    </a>
                </li>
            </ul>
        </address>
      </div>
    </div>
  <div class="footer-copyright">
    <span class="footer-copyright__text">
      © 2022 Simple Food
    </span>
  </div>
</footer>