<div class="mobile-menu">
    <div class="mobile-menu__inner">
        <a class="logo logo--mobile" href="#body">
            <img class="logo__image logo__image--mobile" src="images/logo.svg" width="200" height="39" alt="Логотип">
        </a>
        <button class="burger burger--mobile" type="button">
            <span class="burger__line">
                <span class="sr-only">Кнопка меню</span>
            </span>
        </button>
    </div>
    <ul class="menu-nav menu-nav--mobile">
        <li class="menu-nav__item menu-nav__item--mobile">
            <a class="menu-nav__link animation-btn menu-nav__link--active" href="#">Главная</a>
        </li>
        <li class="menu-nav__item menu-nav__item--mobile">
            <a class="menu-nav__link animation-btn" href="#">Блюда</a>
        </li>
        <li class="menu-nav__item menu-nav__item--mobile">
            <a class="menu-nav__link animation-btn" href="#">Контакты</a>
        </li>
    </ul>
    <address class="footer__contacts footer__contacts--mobile">
        <ul class="contacts">
            <li class="contacts__item">
                <a class="contacts__link contacts__link--address animation-btn" href="">
                    ул. Т.Г.Шевченко, 1
                </a>
            </li>
            <li class="contacts__item">
                <a class="contacts__link contacts__link--number animation-btn" href="tel:+380501112233">
                    380501112233
                </a>
            </li>
            <li class="contacts__item">
                <a class="contacts__link contacts__link--email animation-btn" href="mailto:support@sfood.com">
                    support@sfood.com
                </a>
            </li>
        </ul>
        <ul class="social-contacts social-contacts--mobile">
            <li class="social-contacts__item">
                <a class="social-contacts__link" href="#" target="_blank">
                    <svg class="social-contacts__image social-contacts__image--facebook">
                        <use xlink:href="images/sprite.svg#icon-facebook"></use>
                    </svg>
                    <span class="sr-only">Написать нам в Фейсбук</span>
                </a>
            </li>
            <li class="social-contacts__item">
                <a class="social-contacts__link" href="#" target="_blank">
                    <svg class="social-contacts__image social-contacts__image--twitter">
                        <use xlink:href="images/sprite.svg#icon-twitter"></use>
                    </svg>
                    <span class="sr-only">Написать нам в Твиттер</span>
                </a>
            </li>
            <li class="social-contacts__item">
                <a class="social-contacts__link" href="#" target="_blank">
                    <svg class="social-contacts__image social-contacts__image--instagram">
                        <use xlink:href="images/sprite.svg#icon-instagram"></use>
                    </svg>
                    <span class="sr-only">Написать нам в Инстаграм</span>
                </a>
            </li>
        </ul>
    </address>
</div>