<section class="pop-categories section">
    <div class="container">
        <h2 class="title pop-categories__title">Популярные категории</h2>

        <ul class="pop-categories__filter">
            <li class="pop-categories__button">
                <button class="pop-categories__btn btn pop-categories__btn--burger" data-filter="all" type="button">Бургеры</button>
            </li>
            <li class="pop-categories__button">
                <button class="pop-categories__btn btn pop-categories__btn--pizza" data-filter=".category-a" type="button">Пицца</button>
            </li>
            <li class="pop-categories__button">
                <button class="pop-categories__btn btn pop-categories__btn--sandwich" data-filter=".category-b" type="button">Сендвичи</button>
            </li>
            <li class="pop-categories__button">
                <button class="pop-categories__btn btn pop-categories__btn--asia" data-filter=".category-c" type="button">Азиатская кухня</button>
            </li>
            <li class="pop-categories__button">
                <button class="pop-categories__btn btn pop-categories__btn--set" data-filter=".category-d" type="button">Cеты</button>
            </li>
        </ul>

        <ul class="pop-categories__content">
            <li class="pop-categories__item mix category-a">
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/1.png" width="140" height="140" alt="Чизбургер">
                    <h3 class="product-card__subtitle">Чизбургер с листьями салата</h3>
                    <span class="product-card__price">160
                        <span class="product-card__currency">грн.</span>
                    </span>
                    <button class="product-card__button btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="pop-categories__item mix category-a">
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/2.png" width="140" height="140" alt="Бифбургер">
                    <h3 class="product-card__subtitle">Бифбургер</h3>
                    <span class="product-card__price">190
                        <span class="product-card__currency">грн.</span>
                    </span>
                    <button class="product-card__button btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="pop-categories__item mix category-b">
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/3.png" width="140" height="140" alt="Королевский чизбургер">
                    <h3 class="product-card__subtitle">Королевский чизбургер</h3>
                    <span class="product-card__price">260
                        <span class="product-card__currency">грн.</span>
                    </span>
                    <button class="product-card__button btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="pop-categories__item mix category-b">
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/4.png" width="140" height="140" alt="Черный гамбургер">
                    <h3 class="product-card__subtitle">Черный гамбургер</h3>
                    <span class="product-card__price">199
                        <span class="product-card__currency">грн.</span>
                    </span>
                    <button class="product-card__button btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="pop-categories__item mix category-b">
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/5.png" width="140" height="140" alt="Чикен бургер">
                    <h3 class="product-card__subtitle">Чикен бургер</h3>
                    <span class="product-card__price">180
                        <span class="product-card__currency">грн.</span>
                    </span>
                    <button class="product-card__button btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="pop-categories__item mix category-c">
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/6.png" width="140" height="140" alt="Чизбургер">
                    <h3 class="product-card__subtitle">Чизбургер с листьями салата</h3>
                    <span class="product-card__price">160
                        <span class="product-card__currency">грн.</span>
                    </span>
                    <button class="product-card__button btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="pop-categories__item mix category-c">
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/7.png" width="140" height="140" alt="Бифбургер">
                    <h3 class="product-card__subtitle">Бифбургер</h3>
                    <span class="product-card__price">190
                        <span class="product-card__currency">грн.</span>
                    </span>
                    <button class="product-card__button btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="pop-categories__item mix category-d">
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/8.png" width="140" height="140" alt="Королевский чизбургер">
                    <h3 class="product-card__subtitle">Королевский чизбургер</h3>
                    <span class="product-card__price">260
                        <span class="product-card__currency">грн.</span>
                    </span>
                    <button class="product-card__button btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="pop-categories__item mix category-d">
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/9.png" width="140" height="140" alt="Черный гамбургер">
                    <h3 class="product-card__subtitle">Черный королевский гамбургер</h3>
                    <span class="product-card__price">199
                        <span class="product-card__currency">грн.</span>
                    </span>
                    <button class="product-card__button btn" type="button">В корзину</button>
                </article>
            </li>
            <li class="pop-categories__item mix category-d">
                <article class="product-card">
                    <img class="product-card__image" src="images/item-image/10.png" width="140" height="140" alt="Чикен бургер">
                    <h3 class="product-card__subtitle">Чикен бургер</h3>
                    <span class="product-card__price">180
                        <span class="product-card__currency">грн.</span>
                    </span>
                    <button class="product-card__button btn" type="button">В корзину</button>
                </article>
            </li>
        </ul>

        <button class="pop-categories__link animation-btn" type="button">Показать ещё</button>
    </div>
</section>