<section class="restaurants section">
    <div class="container">
        <h2 class="title restaurants__title">Лучшие рестораны</h2>
        <ul class="restaurants__list">
            <li class="restaurants__item">
                <div class="restaurants__fix">
                    <article class="restaurant-card">
                        <img class="restaurant-card__image" src="images/restaurant-image/1.jpg" width="370" height="300" alt="Ресторан Blaze Pizza">
                        <div class="restaurant-card__content">
                            <h3 class="restaurant-card__name">Blaze Pizza</h3>
                            <div class="restaurant-card__inner">
                                <time class="restaurant-card__time" datatime="11:00 - 22:00">11:00 - 22:00</time>
                                <a class="restaurant-card__link btn" href="#"></a>
                            </div>
                        </div>
                    </article>
                </div>
            </li>
            <li class="restaurants__item">
                <div class="restaurants__fix">
                    <article class="restaurant-card">
                        <img class="restaurant-card__image" src="images/restaurant-image/2.jpg" width="370" height="300" alt="Ресторан Pizza Runcho">
                        <div class="restaurant-card__content">
                            <h3 class="restaurant-card__name">Pizza Runcho</h3>
                            <div class="restaurant-card__inner">
                                <time class="restaurant-card__time" datatime="12:00 - 21:00">12:00 - 21:00</time>
                                <a class="restaurant-card__link btn" href="#"></a>
                            </div>
                        </div>
                    </article>
                </div>
            </li>
            <li class="restaurants__item">
                <div class="restaurants__fix">
                    <article class="restaurant-card">
                        <img class="restaurant-card__image" src="images/restaurant-image/3.jpg" width="370" height="300" alt="Ресторан Pizza Hut">
                        <div class="restaurant-card__content">
                            <h3 class="restaurant-card__name">Pizza Hut</h3>
                            <div class="restaurant-card__inner">
                                <time class="restaurant-card__time" datatime="11:00 - 22:00">11:00 - 22:00</time>
                                <a class="restaurant-card__link btn" href="#"></a>
                            </div>
                        </div>
                    </article>
                </div>
            </li>
            <li class="restaurants__item">
                <div class="restaurants__fix">
                    <article class="restaurant-card">
                        <img class="restaurant-card__image" src="images/restaurant-image/4.jpg" width="370" height="300" alt="Ресторан McDonald`s">
                        <div class="restaurant-card__content">
                            <h3 class="restaurant-card__name">McDonald`s</h3>
                            <div class="restaurant-card__inner">
                                <time class="restaurant-card__time" datatime="06:00 - 23:00">06:00 - 23:00</time>
                                <a class="restaurant-card__link btn" href="#"></a>
                            </div>
                        </div>
                    </article>
                </div>
            </li>
            <li class="restaurants__item">
                <div class="restaurants__fix">
                    <article class="restaurant-card">
                        <img class="restaurant-card__image" src="images/restaurant-image/5.jpg" width="370" height="300" alt="Ресторан KFC">
                        <div class="restaurant-card__content">
                            <h3 class="restaurant-card__name">KFC</h3>
                            <div class="restaurant-card__inner">
                                <time class="restaurant-card__time" datatime="06:00 - 23:30">06:00 - 23:30</time>
                                <a class="restaurant-card__link btn" href="#"></a>
                            </div>
                        </div>
                    </article>
                </div>
            </li>
            <li class="restaurants__item">
                <div class="restaurants__fix">
                    <article class="restaurant-card">
                        <img class="restaurant-card__image" src="images/restaurant-image/6.jpg" width="370" height="300" alt="Ресторан Star Burgers">
                        <div class="restaurant-card__content">
                            <h3 class="restaurant-card__name">Star Burgers</h3>
                            <div class="restaurant-card__inner">
                                <time class="restaurant-card__time" datatime="09:00 - 21:00">09:00 - 21:00</time>
                                <a class="restaurant-card__link btn" href="#"></a>
                            </div>
                        </div>
                    </article>
                </div>
            </li>
        </ul>
    </div>
</section>