<section class="reviews section">
    <div class="reviews__container">
        <h2 class="title reviews__title">Отзывы клиентов</h2>
        <ul class="reviews__slider">
            <div class="reviews-fix">
                <li class="reviews__item">
                    <img  class="reviews__image" src="images/guest.jpg" width="300" height="300" alt="Фотография клеинта">
                    <blockquote class="reviews__blockquote">
                        <p>
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
                        </p>
                        <cite class="reviews__author">
                            Дарья
                            <span class="reviews__span">Ценитель вкусной еды</span>
                        </cite>
                    </blockquote>
                </li>
            </div>
            <div class="reviews-fix">
                <li class="reviews__item">
                    <img  class="reviews__image" src="images/guest.jpg" width="300" height="300" alt="Фотография клеинта">
                    <blockquote class="reviews__blockquote">
                        <p>
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
                        </p>
                        <cite class="reviews__author">
                            Дарья
                            <span class="reviews__span">Ценитель вкусной еды</span>
                        </cite>
                    </blockquote>
                </li>
            </div>
            <div class="reviews-fix">
                <li class="reviews__item">
                    <img  class="reviews__image" src="images/guest.jpg" width="300" height="300" alt="Фотография клеинта">
                    <blockquote class="reviews__blockquote">
                        <p>
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
                        </p>
                        <cite class="reviews__author">
                            Дарья
                            <span class="reviews__span">Ценитель вкусной еды</span>
                        </cite>
                    </blockquote>
                </li>
            </div>
            <div class="reviews-fix">
                <li class="reviews__item">
                    <img  class="reviews__image" src="images/guest.jpg" width="300" height="300" alt="Фотография клеинта">
                    <blockquote class="reviews__blockquote">
                        <p>
                            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
                        </p>
                        <cite class="reviews__author">
                            Дарья
                            <span class="reviews__span">Ценитель вкусной еды</span>
                        </cite>
                    </blockquote>
                </li>
            </div>
        </ul>
    </div>
</section>
