<div class="filter-menu">
    
    <button class="filter-close" type="button">
        <span class="sr-only">Кнопка закрытия фильтров</span>
    </button>
    <div class="filter-category filter__item">
        <h3 class="filter__title">Категории</h3>
        <ul class="filter-category__list filter__content">
            <li class="filter-category__item">
                <a class="filter-category__link" href="#">Бургеры</a>
            </li>
            <li class="filter-category__item">
                <a class="filter-category__link" href="#">Пицца</a>
            </li>
            <li class="filter-category__item">
                <a class="filter-category__link" href="#">Сендвичи</a>
            </li>
            <li class="filter-category__item">
                <a class="filter-category__link" href="#">Азиатская кухня</a>
            </li>
            <li class="filter-category__item">
                <a class="filter-category__link" href="#">Сеты</a>
            </li>
            <li class="filter-category__item">
                <a class="filter-category__link" href="#">Европейская кухня</a>
            </li>
            <li class="filter-category__item">
                <a class="filter-category__link" href="#">Напитки</a>
            </li>
            <li class="filter-category__item">
                <a class="filter-category__link" href="#">Алкоголь</a>
            </li>
        </ul>
    </div>
    
    <div class="filter-offer filter__item">
        <h3 class="filter__title">Предложения</h3>
        <form class="filter-offer__form filter__content" action="#">
            <label class="filter-offer__label">
                <div class="filter-offer__box">
                    <input class="filter-offer__input" type="checkbox">
                    <span class="filter-offer__checkbox"></span>
                </div>
                <span class="filter-offer__text">Со скидкой</span>
            </label>
            <label class="filter-offer__label">
                <div class="filter-offer__box">
                    <input class="filter-offer__input" type="checkbox">
                    <span class="filter-offer__checkbox"></span>
                </div>
                <span class="filter-offer__text">Новинка</span>
            </label>
            <label class="filter-offer__label">
                <div class="filter-offer__box">
                    <input class="filter-offer__input" type="checkbox">
                    <span class="filter-offer__checkbox"></span>
                </div>
                <span class="filter-offer__text">Хит</span>
            </label>
        </form>
    </div>
    
    <div class="filter-price filter__item">
        <h3 class="filter__title">Цена</h3>
        <form class="filter-price__form filter__content" action="#">
            <label class="filter-price__label">
                <span class="filter-price__span">
                    от
                    <span class="filter-price__from"></span>
                    ₴
                </span>
                <span class="filter-price__span">
                    до
                    <span class="filter-price__to"></span>
                    ₴
                </span> 
            </label>
            <input class="filter-price__input" type="text" 
            data-min="0"
            data-max="1100"
            data-from="100"
            data-to="1000">
        </form>
    </div>

</div>