<header class="header">
    <div class="container">
        <nav class="header__menu">
            <a class="logo" href="#body">
                <img class="logo__image logo__image--desktop" src="images/logo.svg" width="200" height="39" alt="Логотип">
            </a>
            <ul class="menu-nav header__nav">
                <li class="menu-nav__item">
                    <a class="menu-nav__link animation-btn" href="index.html">Главная</a>
                </li>
                <li class="menu-nav__item">
                    <a class="menu-nav__link animation-btn menu-nav__link--active" href="#">Блюда</a>
                </li>
                <li class="menu-nav__item">
                    <a class="menu-nav__link animation-btn" href="#">Контакты</a>
                </li>
            </ul>
            <ul class="user-nav">
                <li class="user-nav__item user-nav__item--search">
                    <button class="user-nav__button" type="button">
                        <span class="sr-only">Поиск</span>
                    </button>
                </li>
                <li class="user-nav__item user-nav__item--cart">
                    <button class="user-nav__button" type="button">
                        <span class="sr-only">Корзина</span>
                        <span class="user-nav__num">4</span>
                    </button>
                </li>
            </ul>
            <button class="burger" type="button">
                <span class="burger__line">
                    <span class="sr-only">Кнопка меню</span>
                </span>
            </button>
        </nav>
    </div>
</header>